<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="loader">
        
        <img class="slide-video" src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading">

    </div>
    <div class="black-screen"></div>

    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('create') }}";
        }, 6000); // adjust timing based on animation length
    </script>
</body>
</html>
